{% extends 'base.html' %}

{% block title %}
View Posts
{% endblock title %}

{% block content %}
    <h1>Posts</h1>
    <ul>
        {% for post in posts %}
            <li><a href="{% url "my_post" %}">{{ post.title }}</a></li>
        {% endfor %}
    </ul>

    <button type="button" class="btn btn-primary- btn-lg"><a href="{% url "post-form" %}">Add New Posts</a></button>
{#    <button type="button" class="btn btn-primary- btn-lg"><a href="{% url "delete_actor" actor.id %}">Delete Actor</a></button>#}

    <br/>
    <br/>
{#    <button type="button" class="btn btn-primary- btn-lg"><a href="{% url "home" %}">Back to Hollywood</a></button>#}
{#    <button type="button" class="btn btn-primary- btn-lg"><a href="{% url "actors" %}">Back to Actor</a></button>#}

{%  endblock content %}