<body>
    <head>
      {% include 'bootstrap.html' %}
      {% include 'style.html' %}
    </head>
    <h1>Movies live here</h1>
    <ul>
        {% for movie in movies %}
            <li><a href="{% url "view_movie" movie.id %}">{{ movie.name }}</a></li>
        {% endfor %}
    </ul>
    <button type="button" class="btn btn-primary- btn-lg"><a href="{% url 'new_movie' %}">Add new movie</a></button>
    <button type="button" class="btn btn-primary- btn-lg"><a href="{% url "home" %}">Back to Hollywood</a></button>

    {% include 'footer.html' %}

</body>

