body {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 1500px;
    font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
}


input {
    width: 550px;
    height: 25px;
    font-size: 15px;
    border-radius: 10px;
}
