{% load staticfiles %}
<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>DuoEtsy</title>
    <link rel="stylesheet" href="{% static "css/index.css" %}"/>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="{% static "js/index.js" %}"></script>
</head>
<body>

{% block content %}
    <h1>Howdy! Welcome to DuoEtsy</h1>
    <h2>First</h2>
    <div class="forSale">

    </div>

    <h2>Second</h2>
    <div class="second"></div>

{% endblock content %}

</body>
</html>