{% load staticfiles %}
<!DOCTYPE html>
<html>
<head lang="en">
	<meta charset="UTF-8">
	<title>Angular Rotten</title>
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
	<link rel="stylesheet" href="{% static 'css/angular.css' %}"/>
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
	<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
	<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.0-beta.17/angular.min.js"></script>
	<script src="{% static 'js/angular-route.js' %}"></script>
    <script src="{% static "js/app.js" %}"></script>
</head>
<body ng-app="rottenApp">
	<div class="container">
		<a href="{% url 'home' %}" class="btn btn-primary">Home</a>
		<div class="row box">
			<h1>Angularific Rots</h1>
			<h2>Upcoming Movies</h2>
			<div ng-controller="upcomingCtrl">
				<div ng-view></div>
				<div ng-repeat="upcoming in rottenList track by $index">
					<div class="square">
						<h3>{% verbatim %}{{ upcoming.title }}{% endverbatim %}</h3>
						<img src="{% verbatim %}{{ upcoming.posters.original.replace('_tmb.jpg', '_det.jpg') }}{% endverbatim %}" alt="Upcoming Movies"/>

						<!-- Button trigger modal -->
							<button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal" ng-click="displayIndividual($index)">
							  More Information
							</button>

							<!-- Modal -->
							<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
							  <div class="modal-dialog">
							    <div class="modal-content">
							      <div class="modal-header">
							        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
							        <h4 class="modal-title" id="myModalLabel">{% verbatim %}{{ upcoming.title }}{% endverbatim %}</h4>
							      </div>
							      <div class="modal-body">
							        <p>MPAA Ratings: {% verbatim %}{{ upcoming.mpaa_rating }}{% endverbatim %}</p>
							      </div>
							      <div class="modal-footer">
							        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
{#							        <button type="button" class="btn btn-primary">Save changes</button>#}
							      </div>
							    </div>
							  </div>
							</div>
					</div>
				</div>
			</div>

		</div>

		<div class="row box">
			<h1>Movie Requests from Rotten Tomatoes</h1>
	        <div ng-controller="movieCtrl">
		        <input id="search" type="text" placeholder="Search Term" ng-model="movies"/>
		        <button ng-click="retrieveMovies()" class="btn btn-default">Retrieve Movies</button>
		        <br/>
		        <h3>Your requested movies:</h3>
		        <input type="text" ng-model="query" class="btn btn-default"/>
		        <div ng-show="showResults">
		         <span>{% verbatim %}{{ query }}{% endverbatim %}</span>
		        <div ng-repeat="title in titles | filter: query track by $index">
			        <div class="square">
				        <img src="{% verbatim %}{{ title.posters.original.replace('_tmb.jpg', '_det.jpg') }}{% endverbatim %}" alt=""/>
				        <h3>{% verbatim %}{{ title.title }}{% endverbatim %}</h3>
				        <p>{% verbatim %}{{ title.mpaa_rating }}{% endverbatim %}</p>
				        <button ng-click="showMovieInfo()">More Info</button>
	                    <p ng-show="movieDescription">
		                    Year: {% verbatim %}{{ title.year }}{% endverbatim %}
	                    </p>
			        </div>


		        </div>
			    </div>
	        </div>
		</div>
	</div>

</body>
</html>