
<div class="movieInfo">
{#    {% for i in movie_response %}#}
    {% for favorite in movie_info %}
        <img src="{{ favorite.poster }}" />
        <p>
            Title: {{ favorite.title }}
        </p>
{#        <p  class="hidden">#}
{#            Synopsis: {{ critics_score }}#}
{#        </p>#}
        <p>
            Released In: {{ favorite.release_year }}
        </p>

        <p>
            Critic Score: {{ favorite.critics_score }}
        </p>
        <p class="hidden">
            MPAA Rating: {{ favorite.mpaa_rating }}
        </p>
        <p class="hidden">
            Runtime: {{ favorite.runtime }}
        </p>


            <p class="userFavorites">

            </p>
        {% endfor %}

{#    {% endfor %}#}
</div>
