{% load staticfiles %}
<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Tindy</title>
    <link rel="stylesheet" href="{% static "css/tinder.css" %}"/>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="{% static "js/jquery-ui-1.11.0/jquery-ui.js" %}"></script>
    <script src="{% static "js/tinder.js" %}"></script>
</head>
<body>
    <a href="{% url 'home' %}">Search</a> |
    <a href="{% url 'tinder' %}">Similar Search</a> |
    <a href="{% url 'upcoming' %}">What's Happening in Movies</a>
    <br/>
    <h1>Welcome to Tinder Review for Movies</h1>
    <h3>What is your favorite movie?</h3>
    <input type="text" id="favoriteMovie"/>
    <button class="searchTinder">Search</button>
    <div id="recommended">

    </div>

{#    <div id="accordion">#}
{#        <h3 class="ui-accordion-header">Header One</h3>#}
{#        <div class="ui-accordion-content">Content One</div>#}
{#        <h3 class="ui-accordion-header">Header Two</h3>#}
{#        <div class="ui-accordion-content">Content Two</div>#}
{#    </div>#}

    <button id="getAllFavorites">Get All Favorites</button>

    <ul>
    <div class="favorites">
        <h3>Your Favorites</h3>
    </div>
    </ul>
</body>
</html>