{% load staticfiles %}

<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>{% block title %}Tomater{% endblock title %}</title>
    <link rel="stylesheet" href="{% static "css/custom.css" %}"/>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="{% static "js/jquery-ui-1.11.0/jquery-ui-min.js" %}"></script>
	<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.0-beta.17/angular.min.js"></script>
    <script src="{% static "js/custom.js" %}"></script>
    <script src="{% static "js/app.js" %}"></script>
</head>
<body>

{% block content %}
    <a href="{% url 'home' %}">Search</a> |
    <a href="{% url 'tinder' %}">Similar Search</a> |
    <a href="{% url 'upcoming' %}">What's Happening in Movies</a>
    <br/>
    <input type="text" id="search"/>
    <button id="searchBtn">Submit</button>
{#    <button class="getMovie">#}
{#    Get a Movie#}
{#    </button>#}
    <br/>
{#    <button class="saveMovie">#}
{#    Save this Movie JSON#}
{#    </button>#}
{##}
{#    <button class="saveMovieHtml">#}
{#    Save this Movie HTML#}
{#    </button>#}

    <div class="movieInfoContainer">
    <h1>Welcome to Ripe Tomater</h1>
    <p>Start by <Search></Search>ing</p>
    </div>

    <div class="selection">
    {% include 'movie_template.html' %}
    </div>

{% endblock content %}

</body>
</html>