body {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 1500px;
}

.movieInfoContainer {
    width: 100%;
    height: 100%;
    max-width: 100%;
}

div {
    padding-top: 20px;
    width: 300px;
    height: 450px;
    float: left;
    border: 1px solid cyan;
}

button {
    padding: 10px 5px;
    border-radius: 10px;
    border: 1px black solid;
    background-color: white;
    text-shadow: none;
    margin-bottom: 10px;
}

.hidden {
    display: none;
}