<body>
    <head>
      {% include 'bootstrap.html' %}
      {% include 'style.html' %}
    </head>

    <h1>Add new movie</h1>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Add new movie" class="btn btn-lg btn-default"><br>
    </form>

    {% load embed_video_tags %}

    The video tag:
    {% video item.video as my_video %}
      URL: {{ my_video.url }}
      Thumbnail: {{ my_video.thumbnail }}
      Backend: {{ my_video.backend }}

      {% video my_video "large" %}
    {% endvideo %}

    Or embed shortcut:
    {% video my_video '800x600' %}

    <button type="button" class="btn btn-primary- btn-lg"><a href="{% url "home" %}">Back to Hollywood</a></button>

    {% include 'footer.html' %}
</body>