<body>

    <head>
      {% include 'bootstrap.html' %}
      {% include 'style.html' %}
    </head>

    <h1>{{ actor.name }}</h1>
    <h2>{{ actor.age }}</h2>

    <button type="button" class="btn btn-primary- btn-lg"><a href="{% url "edit_actor" actor.id %}">Edit actor</a></button>
    <button type="button" class="btn btn-primary- btn-lg"><a href="{% url "delete_actor" actor.id %}">Delete Actor</a></button>

    <br/>
    <br/>
    <button type="button" class="btn btn-primary- btn-lg"><a href="{% url "home" %}">Back to Hollywood</a></button>
    <button type="button" class="btn btn-primary- btn-lg"><a href="{% url "actors" %}">Back to Actor</a></button>

    {% include 'footer.html' %}

</body>