{% load embed_video_tags %}
<body>
    <head>
      {% include 'bootstrap.html' %}
      {% include 'style.html' %}
    </head>

    <h1>{{ video.name }}</h1>
    <div>
        <h3>{% video video.video 'small' %}</h3>
    </div>
    <button type="button" class="btn btn-primary- btn-lg"><a href="{% url "edit_video" video.id %}">Edit video</a></button>
    <button type="button" class="btn btn-primary- btn-lg"><a href="{% url "delete_video" video.id %}">Delete video</a></button>

    <br/>
    <br/>
    <button type="button" class="btn btn-primary- btn-lg"><a href="{% url "home" %}">Back to Hollywood</a></button>
    <button type="button" class="btn btn-primary- btn-lg"><a href="{% url "movies" %}">Back to Movie</a></button>

    {% include 'footer.html' %}
</body>