{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Tsung M Hung Portfolio Site">
    <meta name="author" content="Tsung Ming Hung">

    <title>{% block title %}{% endblock title %}</title>

    <!-- Bootstrap core CSS -->
    <link href="{%  static "css/bootstrap.min.css" %}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href='{% static "css/cover.css" %}' rel="stylesheet">

    <!-- User styles for this template -->
    <link href='{% static "css/style.css" %}' rel="stylesheet">

    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <script src={%  static "js/ie-emulation-modes-warning.js" %}></script>

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src={%  static "js/ie10-viewport-bug-workaround.js" %}></script>

  </head>

  <body>

    <div class="site-wrapper">
      <div class="site-wrapper-inner">
        <div class="cover-container">

          {% include 'navbar.html' %}

          <div class="container-fluid">
              <div class="row-fluid">
                {% block content %}

                {% endblock content %}
              </div>
          </div>

           {% include 'footer.html' %}

        </div>

      </div>

    </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="{% static "js/jquery.min.js" %}"></script>
    <script src="{% static "js/bootstrap.min.js" %}"></script>
    <script src="{% static "js/docs.min.js" %}"></script>
  </body>
</html>
