{% extends 'base.html' %}

{% block title %}
Angular Pokemon
{% endblock title %}


{% block content %}

<div class="spacing-buffer"></div>
<div class="container">
	<div class="row">
		<div ng-app="etsyApp">
			<h1 class="text-center">Angular Etsy</h1>

{#		    <button class="store btn btn-primary">Save Team</button>#}


				<div ng-controller="etsyCtrl">
					<button ng-click="retrieveList()" class="btn btn-default">Get Random Team</button>
				</div>

				<div ng-repeat="item in etsySelection track by $index">

					<p>{{ item.description }}</p>

				</div>
		</div>
	</div>
</div>

{% endblock content %}