{% extends 'base.html' %}

{% block title %}
Angular Pokemon
{% endblock title %}


{% block content %}
<div class="spacing-buffer"></div>
<div class="container">
	<div class="row">
		<h1 class="text-center">Angular</h1>

		<button class="random btn btn-default">Get Random Team</button>
	    <button class="store btn btn-primary">Save Team</button>

		<div ng-model="pokemonApp">
			<div ng-controller="pokemonCtrl as pokemon">

			</div>
		</div>
	</div>
</div>

	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.0-beta.17/angular.min.js"></script>
{% endblock content %}